---
import Box from "@mui/material/Box";
import type { GridColDef } from "@mui/x-data-grid";
import { DataGrid } from "@mui/x-data-grid";
import { DATE_RANGE } from "../pages/index.astro";
import { supabase } from "../db/supabase";

const columns: GridColDef[] = [
    { field: "campaign", headerName: "Campaign", width: 220 },
    {
        field: "impressions",
        headerName: "Impressions",
        type: "number",
        width: 150,
    },
    {
        field: "impressions_delta_pct",
        headerName: "% Δ",
        width: 110,
    },
    {
        field: "ctr",
        headerName: "CTR",
        type: "number",
        width: 110,
    },
    {
        field: "ctr_delta_pct",
        headerName: "% Δ",
        width: 110,
    },
];

const { data: campaignPerformance } = await supabase.rpc(
    "get_campaign_performance",
    {
        p_from: DATE_RANGE.from,
        p_to: DATE_RANGE.to,
    },
);

campaignPerformance?.forEach((row: any, index: number) => {
    row.id = index + 1;

    // Normalize CTR to percentage (0-100%)
    row.ctr = `${(row.ctr * 100).toFixed(2)}%`;

    row.impressions_delta_pct = Number(
        (row.impressions_delta_pct * 100).toFixed(2),
    );
    row.impressions_delta_pct =
        row.impressions_delta_pct > 0
            ? `+${row.impressions_delta_pct}%`
            : `${row.impressions_delta_pct}%`;

    row.ctr_delta_pct = Number((row.ctr_delta_pct * 100).toFixed(2));
    row.ctr_delta_pct =
        row.ctr_delta_pct > 0
            ? `+${row.ctr_delta_pct}%`
            : `${row.ctr_delta_pct}%`;
});
---

<div
    class="h-full w-full max-w-[30vw] text-3xl bg-white rounded-lg shadow-sm p-4"
>
    <Box client:only="react" sx={{ height: 400, width: "100%" }}>
        <DataGrid
            client:only="react"
            rows={campaignPerformance}
            columns={columns}
            initialState={{
                pagination: {
                    paginationModel: { pageSize: 5 },
                },
            }}
            pageSizeOptions={[5]}
            disableRowSelectionOnClick
            sx={{
                border: "none",
                "& .MuiDataGrid-columnHeaders": {
                    color: "var(--color-primary)",
                },
            }}
        />
    </Box>
</div>
